<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Annoying Ass Alarm</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
</head>
<body background="https://i.pinimg.com/736x/ca/81/0d/ca810d5550d09379a100e4e645826da1--funny-pics-of-animals-funny-animal-pictures.jpg">
  <div  style="width:550px; margin: 75px auto;">
  <form method = "POST" action = '/' style="display: inline-block">
        <input name = "hours"  type="number" placeholder = "hours">
        <input name = "minutes"  type="number" placeholder = "minutes">
        <button type = "submit" class= "btn btn-primary">SET ALARM</button>
      </form>
    </div>
  <script src="js/scripts.js"></script>
</body>
</html>
